﻿@page "/"
@inject IAccountService _accountService

<div>
    <AuthorizeView>
        <Authorized>
            <h1>Your Claims</h1>
            <div class="container">
                @foreach (var claim in userClaim)
                {
                    <div>@claim.Type.Replace("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/","") - @claim.Value</div>
                }
            </div>
        </Authorized>
        <NotAuthorized>
            <h1>Login</h1>
            <div class="container">
                <div class="form-group">
                    <label for="inputEmail">Email Address</label>
                    <input type="email" class="form-control" id="inputEmail" @bind="@model.Email" />
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" @bind="@model.Password" />
                </div>
                <button type="button" class="btn btn-primary" @onclick="Login">Login</button>
            </div>

            <div class="container mt-2">
                <p class="h6">Test user: admin@gmail.com / 1234</p>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    private LoginModel model = new LoginModel();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private IList<Claim> userClaim
    {
        get
        {
            var auth = authenticationState.Result;
            if (auth.User.Identity.IsAuthenticated)
                return auth.User.Claims.ToList();

            return new List<Claim>();
        }
    }

    private async Task Login()
    {
        await _accountService.LoginAsync(model);
    }

    private void Logout()
    {
        _accountService.LogoutAsync();
    }
}